name: "Studio Frontend Build"

on:
  push:
    branches:
      - "[0-9]+.[0-9]+"
      - "[0-9]+.x"
      - "feature-*"
      - "nightly"
      - "studio"
    paths:
      - "assets/studio/**"
  pull_request_target:
    branches:
      - "[0-9]+.[0-9]+"
      - "[0-9]+.x"
      - "*_actions"
      - "feature-*"
      - "nightly"
    paths:
      - "assets/studio/**"
  workflow_dispatch:

permissions:
  contents: write

jobs:
  studio-frontend:
    uses: pimcore/workflows-collection-public/.github/workflows/reusable-studio-frontend-build.yaml@reusable-workflows
    with:
      working-directory: "assets/studio"
      build-output-path: "assets/studio/public"
      lint: true
      typecheck: true
      commit-build-output: true
